<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="normal">
                  <div class="card-header">
                      <h5 class="card-title">Total Report</h5>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">{{total_reports}}</h3>
                  </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="review">
                  <div class="card-header">
                      <h5 class="card-title">Repairing</h5>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">{{repairing}}</h3>
                  </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="broke">
                  <div class="card-header">
                      <h5 class="card-title">Trouble</h5>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">{{warning}}</h3>
                  </div>
            </div>
        </div>
    </div>
</div>